color1 = #f00
color2 = pink 
//
titleFontSize = .093333rem   //系统标题字体大小
headerUserFT = 0.08rem    //系统栏用户、菜单字体大小
headerHeight = .216667rem     //系统栏高度
menuWidth = .67rem      //菜单栏宽度
navHeight = .183333rem        //nav高度

locationHeight = .183333rem  //导航高度

locationTitle = .073333rem  //导航文字大小

labelFontSize = .073333rem   //模块标题字体大小

leftNavWidth = .8rem   //左侧导航列表宽度

leftNavHeight = .266667rem   //左侧导航列表高度

moduleFontSize = 0.0666667rem   //模块文本字体大小

stationDetailFontSize = 14px //台站详情标注字体大小

contentWidth = 97% //模块内容宽度
contentHeight = 98% //模块内容高度

moduleHeaderHeight = .166667rem  //模块头部高度50px

checkBoxBg = #132a59 // checkbox背景颜色
checkBoxColor = #e8ba27
checkBoxBorder = 1px solid #01d4f6

/*表格相关*/
tableHeaderFontSize = 0.0533rem //表格标题字体大小
tableContentFontSize = 0.0533rem //表格内容字体大小
tableHeaderColor = rgb(27,223,254) //表格标题字体颜色
tableTheadBg = none
tableHeaderBorderColor = rgb(41,86,170) //表格标题边界颜色
tableHeaderHeight = .2rem //表格标题高度
tableHeaderpadding = 0 20px //表格标题左右间距

tableHoverColor = #04555b;//表格悬浮和选中颜色


alarmColor = rgb(206,85,82) //报警颜色
offLineColor = rgb(189,187,187) //离线颜色
headerBgColor = rgb(23,74,154) //标题头部背景色
labelBg = rgb(252,211,64); //标题左侧色块颜色
labelColor = rgb(234,196,75) //块标题黄色加粗600
labelBg2 = rgb(96,221,251);  // 标题色块蓝色
labelColor2 = #fff; // 标题样式2
searchbtnColor = rgb(19,127,232) //查询按钮颜色
contentBgColor = rgba(0,0,0,0.5) //内容背景颜色
repeatBoxBg = rgb(64,78,105)
/*实时监测页面 录像查询 公共样式*/
titleSpanFontsize = 20px //页面标题大小
titleLabelFontsize = 20px //页面显示当前选中前端名称字体大小

/*  弹出框，菜单栏背景色*/
dialogBG = #1d3052
menuBorderColor = #07c8ec
ivuPoptipBodyContentColor = white;

/* 报表统计变量 */
report_headerHeight = 0.16rem;  // 报表相关页面头部高度

/*  选择器 */
selectZindex = 502

menuZindex = 501

/*主子表按钮及表头颜色*/
masterTable_childTable_opreatBT_color = #00e4ff
masterTable_childTable_headFont_color = #ffca28 
masterTable_childTable_headBorder = 1px solid #153a70

topDivWrapBg = rgba(0,0,0,0.5);
topDivWrapBorder = 1px solid #295398;
topDivWrap_ul_li_labelColor = rgb(141, 185, 237)

table-skipButtonBg = rgb(32, 87, 130)!important;
table-skipButtonBorder = 1px solid rgb(86, 199, 230)!important;
table-skipButtonColor = #fff!important;

table-selectStyleColor = #fff!important;
table-selectStyleBg = rgba(0,41,63,0.6)!important;
table-selectStyleBorder = 1px solid rgb(61, 145, 173)!important;


flex() { //垂直居中
    display:flex; 
    flex-direction:row;
    align-items:center;
    display:-ms-flexbox;
    -ms-flex-direction:row;
    -ms-flex-align:center;
}
ellipsis(){ //省略号
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
    